<!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <hr>  
        <h1>Malumot yubor svolich!!!</h1>
        <form method="post" action="/">
            <input name="title" type="text"></input>
            <button type="submit">send</button>
        </form>
        <a href="/contact">contact</a>
        <hr></hr>
        <a href="/api/user">get all user</a>
    </body>
</html>